# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.ui_app/node_modules/.cache/
.ui_app/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
*.log
*.sqlite3
*.db
*.jpeg
*.jpg
*.png
*.gif
*.ico
*.mov
*.mp4
*.avi
*.wmv
*.flv
*.webm 